.modal_backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_container {
    margin-top: 100px;
    max-width: 80vw;
    min-height: 60vh;
    border: 3px solid black;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.modal_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
}

.header_btn {
    height: 20px;
    width: 20px;
    background-color:rgb(155, 40, 40);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.header_btn:hover {
    background-color: rgb(194, 28, 28);
}

.modal_car-input {
    margin-bottom: 30px;
    margin-left: 15px;
}

h1 {
    margin-left: 20px;
}

h2 {
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style: none;
    line-height: 1em;
}

.form_input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
}

.form_input input {
    margin-bottom: 10px;
    width: 30vw;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

.form_input textarea {
    border: 1px solid black;
    width: 30vw;
}

.btns {
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.back_btn {
    width: 100px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(155, 40, 40);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.back_btn:hover {
    background-color: rgb(194, 28, 28);
}

.fwd_btn {
    width: 100px;
    height: 40px;
    margin-right: 20px;
    background-color: rgb(40, 155, 59);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.fwd_btn:hover {
    background-color: rgb(17, 179, 65);
}

.close_btn {
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.recap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.recap_data {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recap_data button {
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(32, 96, 214);
    color: white;
    border: none;
}

.recap_info {
    display: flex;
    flex-direction: row;
}

.recap_service {
    display: flex;
    flex-direction: column;
}

.recap_contact {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.contact_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recap_contact button {
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(32, 96, 214);
    color: white;
    border: none;
}

.service_coupon button {
    margin-left: 20px;
    background-color: white;
    color: blue;
    text-decoration-line: underline;
    border: none;
    cursor: pointer;
}

.discount_input input {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
